/* html {
    max-width: 420px;
    max-height: 420px;
} */

body {
    max-width: 360px;
    margin: auto auto;
    background-color: #78350F;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.home-guest-txt {
    color: #FEF3C7;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'timerfont';
    src: url('timerfont.ttf') format('truetype');
}

.score {
    width: 55px;
    font-family: 'timerfont';
    color: #38BDF8;
    background-color: #1F2937;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 5px
}

.increment-btn {
    font-size: 10px;
    padding: 1px;
    background-color: #78350F;
    color: #FEF3C7;
    border: 1px solid #FEF3C7;
}

.new-game {
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    background-color: #78350F;
    color: #FEF3C7;
    border: 1px solid #FEF3C7;

}
